body{ background-color:rgb(157, 186, 206)
    font-family: Arial, Helvetica;
    font-size: 16px;
}
img {width: 500px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    display: block;


}
header{
    /*cor de fundo*/
    background-color:rgb(198, 132, 218);
    /*cor de texto*/
    color: rgb(56, 208, 228);
    /*alinhamento do texyo*/
    text-align: center;
    padding: 20px;

}


a:hover {

    color: rgb(26, 97, 190);
}
a{
    transition: color 0.3s ease;

}
.container{
    display: flex;
    border-style: solid;
    border-color:rgb(0, 0, 0)

}

E.texto{
    flex:1;
    padding:15%
    text-align: center;

}

.imagem{
    display: flex;
    justify-content: center;
    flex: 2;
    text-align: center;
    padding: 5%;
}
nav{
    background-color: rgb(193, 77, 228);
    text-align: center;  
}
nav ul{
    list-style: none;
    padding: 0;  
}
nav li{
    display: inline;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}